<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylessheets/styles.css">
</head>
<body>
    <h1>About us!</h1>
    <div class="links">       
    <a href="/home">Home</a>
    <a href="works">Works</a>
    <a href="/photos">Photos</a>
    </div><hr>
<div class="row Border3">
  <div class="row-vertical content">
    <div>
      <h1 class="text"> Accomplishments </h1>
    </div>
   

  <div><p>For his contributions to the film industry, Cage was inducted into the Hollywood Walk of Fame in 1998 with a motion
  pictures star located at 7021 Hollywood Boulevard.[164][165] In May 2001, Cage was awarded an Honorary Doctorate in Fine
  Arts by California State University, Fullerton. He spoke at the commencement ceremony.[166] Cage has also been nominated
  for an Academy Award twice. He won an Academy Award for Best Actor for his role in the film Leaving Las Vegas in 1995.
  He was nominated for a second one for his role in the film Adaptation in 2002.[167]
  
  He also won a Golden Globe award, Screen Actors Guild award and many more awards for Leaving Las Vegas. He has received
  nominations by the Golden Globe, Screen Actors Guild and BAFTA for his films Adaptation, Honeymoon in Vegas and
  Moonstruck.[168] He has also won and been nominated for many other awards.</p></div>

  
    
    </div>
  </div>
</div>
  </body>
</html>