<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylessheets/styles.css">
</head>
<body>

    <h1>Welcome!</h1>
    <div class="links">
    <a href="/about">About </a>
    <a href="/works">Works</a>
    <a href="/photos">Photos</a> 
    </div><hr>
    <div class="row Border">
        <div class="row-vertical content">
            <div>
                <h1 class="text"> Nick Cage Timelesss character Actor </h1>
            </div>
            <div>
                <img src="/images/Animation1.gif" class="animation-size" />
            </div>
            <div>
                <p class="text"> "I never disrobe before gunplay"
    
                </p>
            </div>
            
        </div>
    </div>
    
</body>
</html>