<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylessheets/styles.css">
</head>
<body>

    <h1>Movies</h1>
    <div class="links">
    <a href="/about">About </a>
    <a href="/home">Home</a>
    <a href="/photos">Photos</a> 
    </div><hr>
    <div class="row Border">
        <div class="row-vertical content">
            <div>
                <h1 class="text"> Nick Cage Timelesss character Actor </h1>
            </div>
            <div class="horizontal">
                <div>
                    <img src="/images/worksimage.png" class="icon-size2" />
                </div>
                <div>
                    <img src="/images/Workimage2.png" class="icon-size2" />
                </div>
                <div>
                    <img src="/images/Workimage3.png" class="icon-size2" />
                </div>
                </div>
            <div>
                <p class="text"> "Starred in over 100 movies"
    
                </p>
            </div>
            
        
    </div>
    
</body>
</html>